<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.sla000.psb_rates_widget.psbrates">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/different_currencies2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/different_currencies2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".PSBRatesWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/psbrates_widget_info"/>

        </receiver>

        <activity android:name=".PSBRatesWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <service android:name=".UpdateService"/>
    </application>

</manifest>